name: Scheduled Scrape

on:
  schedule:
    # Ejecuta a 10:00 UTC y 19:15 UTC diariamente — Solo Lunes a Viernes
    - cron: '0 10 * * 1-5'
    - cron: '15 21 * * 1-5'
    
env:
  BASE_URL: ${{ secrets.BACKEND_BASE_URL }} # Obtiene el valor del Secret de GitHub
  
jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger scrape endpoint
        run: |
          URL_ENDPOINT="$BASE_URL/api/update-latest-exchange-rate"

          echo "Ejecutando solicitud PUT a: $URL_ENDPOINT"
          
          HTTP_CODE=$(curl -X PUT -s -S -o /dev/null -w "%{http_code}" "$URL_ENDPOINT")

          echo "Código de estado HTTP recibido: $HTTP_CODE"

          if [ "$HTTP_CODE" -ge 200 ] && [ "$HTTP_CODE" -lt 300 ]; then
            echo "✅ Solicitud PUT completada exitosamente (Código $HTTP_CODE)."
          else
            # Falla el job si el código de estado no es 2xx
            echo "❌ ERROR: La solicitud PUT falló. Código de estado: $HTTP_CODE"
            exit 1
          fi
